.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    padding: 2rem;
    min-width: 320px;
    max-width: 480px;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    color: black;
    background-color: aliceblue;
    border-radius: 15px;
}
.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}