:root {
    --white: #FFFFFF;
    --black: #000000;
    --hospital-blue: #1876d1;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-image: url(../assets/bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

}

.login{
    width: 35%;
    min-width: 450px;
    height: 80vh;
    min-height: 660px;
    background-color: #FFFFFF;
    border-radius: 25px;
    place-items: center;
    margin: 10px;
    display: grid;
    align-content: center;
}
.form-container {
    display: grid;
    /* align-content: center; */
    /* grid-template-rows: auto 1fr auto; */
    width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
}
.form a {
    color: var(--hospital-blue);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 40px;
}
